h1{
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 24px;
}
.missoes-container section{
    width: 100%;
    max-width: 950px;
    margin-bottom: 0px;
    padding-left: 75px;
    padding-right: 10px;
}

.missoes-button{
    display: inline-grid;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 100%;
}

.missoes-button button{
    width: 50%;
}