.new-operacao-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-operacao-container section.form{
    width: 100%;
    max-width: 950px;
    padding-bottom: 75px;
    padding-left: 75px;
    padding-right: 10px;
}

.new-operacao-container section.form form h1{
    font-size: 32px;
    margin-bottom: 32px;
}
.new-operacao-container section.form form h3{
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
.new-operacao-container section.form form input{
    height: 50px;
    margin-bottom: 0.5em;
}
.new-operacao-container section.form form .col1{
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 50px;

}
.new-operacao-container section.form form .col2{
    float: left;
    width: 70%;
}