h1{
    font-size: 24px;
    margin-bottom: 24px;
    margin-top: 24px;

}

.missoes-container{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.missoes-container section.form{
    width: 100%;
    max-width: 950px;
    margin-bottom: 0px;
    padding-left: 75px;
    padding-right: 10px;
}

.missoes-container section.form form{
    margin-bottom: 15px;
}

.missoes-container section div.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;

    background: #FFF;
    padding: 24px;
    border-radius: 8px;
    position: relative;
}

.missoes-container section div.grid3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;

    background: #FFF;
    padding: 24px;
    border-radius: 8px;
    position: relative;
}

.missoes-container section strong{
    display: block;
    margin-bottom: 6px;
    color: #41414d;
}

.missoes-container section p + strong{
    margin-top: 20px;
}

.missoes-container section p{
    color: #737380;
    line-height: 21px;
    font-size: 16px;
    animation: go-back 1s;
}

@keyframes go-back {
    from {
        background-color: rgb(252, 203, 147);
    }
    to {
        background-color: rgb(255, 255, 255);
    }
}


.missoes-container ul{
    width: 100%;
    list-style: none;
}

.missoes-container ul li{
    background: #FFF;
    width: 100%;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 8px;
    position: relative;
}

.missoes-container ul li strong{
    display: block;
    margin-bottom: 6px;
    color: #41414d;
}

.missoes-container ul li p + strong{
    margin-top: 20px;
}

.missoes-container ul li p{
    color: #737380;
    line-height: 30px;
    font-size: 16px;
    position: relative;
}
.missoes-container ul li .efetivo:hover{
    background-color:#dcdce6;
    color: black;
}
.missoes-container ul li svg{
    margin-left: 20px;
}
.missoes-container ul li button svg{
    margin-left: 0px;
}
.missoes-container section.grid3{
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
}

.missoes-container section div a{
    height: 35px;
    line-height: 35px;
    border-radius: 4px;
    margin-top: 0px;
}

.missoes-container section div a.secundario{
    background: transparent;
    border: 1px solid #dcdce6;
    color: #696972;
    height: 35px;
    line-height: 35px;
}
/* load */
.spinner {
    animation: spin infinite 1s linear;

    /*You can increase or decrease the timer (5s) to 
     increase or decrease the speed of the spinner*/
  }

.buttonUp{
    position:absolute;
    top: 24px;
    right: 54px;
}
.efetivo .buttonUp{
    position:absolute;
    top: 0px;
    right: 4px;
}
.buttonLixo{
    position:absolute;
    top: 24px;
    right: 24px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}