.profile-container{
    width: 100%;
    max-width: 1120px;
    padding: 0 30px;
    margin: 32px auto;
}

.profile-container header{
    display: flex;
    align-items: center;
}

.profile-container header span{
    font-size: 20px;
    margin-left: 0px;
}

.profile-container header a{
    width: 260px;
    margin-left: auto;
    margin-top: 0px;
}

.profile-container header button{
    height: 60px;
    width: 60px;
    margin-left: auto;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}

.profile-container header button:hover{
    border-color: #999;
}

.profile-container div{
    display: flex;
    align-items: center;
}

.profile-container div h1{
    margin-top: 50px;
    margin-bottom: 24px;
}

.profile-container div a{
    width: 260px;
    height: 35px;
    line-height: 35px;
    margin-left: 15px;
    border-radius: 4px;
}

.profile-container div a.secundario{
    background: transparent;
    border: 1px solid #dcdce6;
    color: #696972;
    width: 260px;
    height: 35px;
    line-height: 35px;
    margin-left: auto;
}

.profile-container ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
}

.profile-container ul li{
    background: #FFF;
    padding: 24px;
    border-radius: 8px;
    position: relative;
}

.profile-container ul li strong{
    display: block;
    margin-bottom: 6px;
    color: #41414d;
}

.profile-container ul li p + strong{
    margin-top: 20px;
}

.profile-container ul li p{
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}

.profile-container ul li .minButton{
    position: absolute;
    top: 24px;
    right: 24px;
    border: 0;
    background-color: transparent;
}

.profile-container ul li .minButtonEditar{
    position: absolute;
    top: 24px;
    right: 104px;
    border: 0;
    background-color: transparent;
}
.profile-container ul li .minButtonOcult{
    position: absolute;
    top: 24px;
    right: 64px;
    border: 0;
    background-color: transparent;
}

.profile-container ul li .minButtonCopie{
    position: absolute;
    top: 24px;
    right: 144px;
    border: 0;
    background-color: transparent;
}

.profile-container ul li button:hover{
    opacity: 0.8;
}

.profile-container ul li .maxButton{
    position: absolute;
    bottom: 24px;
    right: 24px;

    width: 200px;
    height: 35px;
    line-height: 35px;
    border-radius: 4px;

    background: transparent;
    border: 1px solid #dcdce6;
    color: #696972;
}

.profile-container ul li .maxButton:hover{
    border-color: #999;
}

.profile-container-div {
    background-color: #FFF;
    border-radius: 4px;
    padding: 1em 1em;
}