@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea{
    font: 400 18px Roboto, sans-serif;
}

button{
    cursor: pointer;
}

form input{
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

form textarea{
    width: 100%;
    min-height: 90px;
    resize: vertical;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 10px 24px;
}

.button{
    width: 100%;
    height: 60px;
    background: #e02041;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    transition: filter 0.2s;
}

.button:hover{
    filter: brightness(90%);
}

.voltar{
    position: absolute;
    top: 16px;
    left: 16px;
    height: 40px;
    width: 40px;
    line-height: 46px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    transition: border-color 0.2s;
}

.voltar:hover{
    border-color: #999;
}

.buttonUp{
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background: transparent;
    transition: border-color 0.2s;
    border: blanchedalmond;
}
.buttonUp:hover{
    border-color: #999;
}
.buttonLixo{
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background: transparent;
    transition: border-color 0.2s;
    border: blanchedalmond;
}
.buttonLixo:hover{
    border-color: #999;
}